*{
    margin: 0;
    padding:0;

}
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 50%;
    border: 3px solid rgb(28, 220, 226);
    border-radius: 50px;
}


.navbar{
    display: flex ;
}

.nav-list{
    width: 50%;
    display: flex;
    align-items:center;

}

.nav-list li{
    list-style:none;
    padding: 26px 30px;
}

.nav-list li a:hover {
     color: rgb(95, 0, 36);
}
.rightNav{
    width: 50%;
    text-align: right;
}

#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid gray;
    border-radius: 9px;
    
}
.background{
    background: rgb(0, 0, 0, 0.7) url('../og.jpg');
    background-size: cover;
    background-blend-mode: darken;

}
.firstsecton{
     height: 100vh;

}
.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
